{% extends '::base.html.twig' %}

{% block head %}
    <h1>Название сайта</h1>
{% endblock %}
{% block left %}
    Left
{% endblock %}
{% block right %}
    Right
{% endblock %}
{% block search %}
    {{ form(form) }}
{% endblock %}

{% block footer %}
    <p>Footer</p>
{% endblock %}